# Peer-graded Assignment: Week 3 Part 2

## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np

## 2. Create neighborhoods dataframe

In [2]:
df_neighborhoods = pd.read_csv('downloads/Toronto_Postcodes_1.csv',index_col=[0])
df_neighborhoods.head(10)

  Postcode          Borough                     Neighbourhood
0      M2L       North York          Silver Hills, York Mills
1      M2R       North York                   Willowdale West
2      M2J       North York                        Henry Farm
3      M5M       North York                      Bedford Park
4      M3C       North York                   Flemingdon Park
5      M1M      Scarborough             Cliffcrest, Cliffside
6      M1J      Scarborough               Scarborough Village
7      M9P        Etobicoke                         Westmount
8      M4J        East York                      East Toronto
9      M4V  Central Toronto  Deer Park, Rathnelly, South Hill

## 3. Create coordinates dataframe

In [3]:
df_coordinates = pd.read_csv('downloads/Geospatial_Coordinates.csv')
df_coordinates.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

## 4. Rename Postcode column of neighborhoods dataframe

In [4]:
df_neighborhoods.rename(columns={'Postcode': 'Postal Code'}, inplace=True)
df_neighborhoods.head(10)

  Postal Code          Borough                     Neighbourhood
0         M2L       North York          Silver Hills, York Mills
1         M2R       North York                   Willowdale West
2         M2J       North York                        Henry Farm
3         M5M       North York                      Bedford Park
4         M3C       North York                   Flemingdon Park
5         M1M      Scarborough             Cliffcrest, Cliffside
6         M1J      Scarborough               Scarborough Village
7         M9P        Etobicoke                         Westmount
8         M4J        East York                      East Toronto
9         M4V  Central Toronto  Deer Park, Rathnelly, South Hill

## 5. Merge the two dataframes on column 'Postal Code'

In [5]:
df_neighborhoods_coordinates = pd.merge(df_neighborhoods, df_coordinates, on='Postal Code')
df_neighborhoods_coordinates.head(10)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M2L,North York,"Silver Hills, York Mills",43.757490,-79.374714
1,M2R,North York,Willowdale West,43.782736,-79.442259
2,M2J,North York,Henry Farm,43.778517,-79.346556
3,M5M,North York,Bedford Park,43.733283,-79.419750
4,M3C,North York,Flemingdon Park,43.725900,-79.340923
5,M1M,Scarborough,"Cliffcrest, Cliffside",43.716316,-79.239476
6,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
7,M9P,Etobicoke,Westmount,43.696319,-79.532242
8,M4J,East York,East Toronto,43.685347,-79.338106
9,M4V,Central Toronto,"Deer Park, Rathnelly, South Hill",43.686412,-79.400049

## 6. Export the dataset to .csv file

In [6]:
df_neighborhoods_coordinates.to_csv('downloads/Toronto_Postcodes_2.csv')